

.root{
    max-width: 1000px;
}
.media {
    height: 0;
    padding-top: 56.25%;
}

.avatar {
    background-color: red;
}
.modal-backdrop {
    width: 0;
}
.modal-dialog .modal-content {
    box-shadow: 0 1px 11px 0 rgba(9,9,9,0.01), 0 1px 11px 0 rgba(5,5,5,0.05);
}
multiselectContainer{
    margin-top: 20px;
}

.quantity{
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 8px;
    min-height: 22px;
    position: relative;
}
.btn-primary {
    color: #fff;
    background-color: #4285f4 !important;
    padding: 6px 25px;
}
.number-input{
    padding: 10px;
}

input[type=number]{
    max-width: 3rem;
    text-align: center;
    padding: .4rem;
    font-size: 1rem;
    color: #495057;
}
.btnMinus, .btnPlus{
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    color: #495057;
}

.cardBody{
    padding: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 1px 3px 0px rgba(0,0,0,0.12);
}