

.root{
    max-width: 345px;
}
.media {
    height: 0;
    padding-top: 56.25%;
}
/*expand: {*/
/*transform: 'rotate(0deg)',*/
/*marginLeft: 'auto',*/
/*transition: theme.transitions.create('transform', {*/
/*    duration: theme.transitions.duration.shortest,*/
/*})*/
/*}*/
/*.expandOpen {*/
/*    transform: 'rotate(180deg)',*/
/*}*/
.avatar {
    background-color: red;
}
.modal-backdrop {
    width: 0;
}
.modal-dialog .modal-content {
    box-shadow: 0 1px 11px 0 rgba(9,9,9,0.01), 0 1px 11px 0 rgba(5,5,5,0.05);
}
multiselectContainer{
    margin-top: 20px;
}

input[type=number]{
    max-width: 3rem;
    text-align: center;
    padding: .4rem;
    font-size: 1rem;
    color: #495057;
}
.btnMinus, .btnPlus{
    max-width: 3rem;
    padding: .5rem;
    border: 1px solid #ced4da;
    border-width: 0 1px;
    font-size: 1rem;
    color: #495057;
}
.btn-primary {
    color: #fff;
    background-color: #4285f4 !important;
    padding: 6px 25px;
}
.btn-secondary {
    padding: 6px 25px;
}